<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bbraun.spaceserver.pusheval" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OnlineSuite Push Eval</name>
    <description>
        Test App for experimenting with different Push Technologies
    </description>
    <author email="jonas.kleinkauf@bbraun.com" href="http://www.bbraun.com">
        Jonas Kleinkauf
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="images/OS_DBG.png" />
</widget>
